---
import type { GetStaticPaths } from "astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const categories = await getCollection("categories");
  return categories.map((category) => ({
    params: { slug: category.slug },
    props: { ...category },
  }));
}) satisfies GetStaticPaths;

const { render } = Astro.props;
const { Content } = await render();
---

<Layout>
  <Content />
  <h2>Recipes</h2>
</Layout>

<style>
  img {
    height: 240px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    max-width: 100%;
  }
</style>
