---
import type { GetStaticPaths } from "astro";
import Layout from "@/layouts/Layout.astro";
import { categories } from "categories.json";

export const getStaticPaths = (() => {
  return categories.map((category) => ({
    params: { slug: category.name.toLowerCase() },
    props: { ...category },
  }));
}) satisfies GetStaticPaths;

const { name, image, description } = Astro.props;
---

<Layout>
  <img src={image} alt={`Typical ${name} category`} />
  <h1>{name}</h1>
  <p>{description}</p>
</Layout>

<style>
  img {
    height: 240px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    max-width: 100%;
  }
</style>
