---
import Layout from "@/layouts/Layout.astro";

/**
 * Offline functionality specific for category pages
 */
---

<Layout>
  <h1>Category not available</h1>
  <p>
    This category is not available offline, do you want to mark it for download
    once you are back online?
  </p>
</Layout>
