---
import Layout from "@/layouts/Layout.astro";
import { categories } from "categories.json";
import { getCollection } from "astro:content";

export const prerender = false;
const recipes = await getCollection("recipes");
const randomRecipe = recipes[Math.floor(Math.random() * recipes.length)];
---

<Layout>
  <h1>Catalog</h1>
  <p>
    Our simplest recipe is still the one <a href="/recipe/cpr5nc2adtfh"
      >how to cook a PWA with `generateSW` strategy</a
    >.
  </p>
  <form>
    <label for="search"
      >Search
      <input type="text" id="search" name="search" />
      <button type="submit">Search</button>
    </label>
  </form>
  <h2>Try this recipe today</h2>
  <a href={`/recipe/${randomRecipe.slug}`}>{randomRecipe.data.title}</a>
  <h2>Categories</h2>
  <ul>
    {
      categories.map((category) => (
        <li>
          <a href={`/category/${category.name.toLowerCase()}`}>
            {category.name}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
