---
import Layout from "@/layouts/Layout.astro";
import { getDadJoke } from "@/utils/get-dad-joke";

export const prerender = false;

const dadJoke = await getDadJoke();
---

<Layout>
  <h1>Vite-PWA & Astro Recipe</h1>
  <p>
    Welcome to the unofficial <a href="/https://astro.build/">Astro</a> PWA recipe.
  </p>
  <blockquote>
    {dadJoke}
    <footer>
      <cite>Dad</cite>
    </footer>
  </blockquote>
  <p>
    <a href="/recipe">This recipe</a>
     will show you, how to create an installable PWA with app features like offline support from
    your Astro app.
  </p>
  <p>
    The basic app is rendered server-side with Astro's SSR mode, to demonstrate the dynamic
    possibilities. So enjoy this dynamically embedded Dad joke
  </p>
  <p>
    If you are interested in my journey of implementing this prototype to develop the recipe, I
    wrote a <a href="/journal">journal</a> about it.
  </p>
</Layout>
